.linkSt {
  color: #f5c518;
}
.linkSt:hover {
  color: #222;
  text-decoration: none;
}
/* ------------------global------------------------------ */
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}
img {
  max-width: 100%;
  height: auto;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-size: 36px;
}
.formIcon {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
.formIcon:last-child {
  margin-bottom: 0px;
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;

  box-sizing: border-box;
}

input::-webkit-input-placeholder {
  color: #999;
}
input::-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}
input:focus {
  border-bottom: 1px solid #222;
}
input:focus::-webkit-input-placeholder {
  color: #222;
}
input:focus::-moz-placeholder {
  color: #222;
}
input:focus:-ms-input-placeholder {
  color: #222;
}
input:focus:-moz-placeholder {
  color: #222;
}

label {
  position: relative;
  left: 0;
  top: 53px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222;
}
i:hover {
  color: #f5c518;
  cursor: pointer;
}
/* ------------------global------------------------------ */

.container1 {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}
.signup_content {
  padding: 75px 0 40px 0;
  display: flex;
  align-items: center;
}
.signup_form,
.signup_image {
  width: 50%;
  overflow: hidden;
}
.signup_form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}
.signup_image {
  margin: 0 55px;
}
.signup_image {
  margin-top: 45px;
}
.form_title {
  margin-bottom: 33px;
}

.form_submit {
  display: inline-block;
  background: #f5c518;
  color: #fff;
  border: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}
.form_submit:hover {
  background: #333333;
}
.register_form {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container1 {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container1 {
    max-width: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .signup_content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }
  .signup_form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px;
  }
  .signup_form,
  .signup_image {
    width: auto;
  }
  .form_title {
    text-align: center;
  }
  .form_button {
    text-align: center;
  }
}
